.MessageBox {
    display: flex;
    flex-direction: column;
    margin: 5% 15%;
}

.MessageBox .message {
    font-size: 20pt;
    margin-bottom: 15px;
}

.MessageBox button {
    height: 50px;
    width: auto;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    background-color: #72bbf4;
    border-style: none;
}

.MessageBox button:hover {
    background-color: #51aaef;
}