.UserBox {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.UserBox button {
    width: 150px;
    height: 40px;
    margin: 5px;
    background-color: #72bbf4;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    color: #fff;
}

.UserBox button:hover {
    background-color: #51aaef;
}

.UserBox .newprod {
    background-color: red;
}

@media (max-width: 426px) {
    .UserBox {
        flex-direction: row;
    }
}