.Main {
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: calc(100vh - 50px - 50px);
    margin: 15px 0px;
    grid-gap: 20px;
}